<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./nullstyle.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="monitoring">
          <div class="monitoring__header">
            <div class="monitoring__datetime">17 августа 2021 г.</div>
            <div class="monitoring__main-title">
              <span>Ситуационный центр</span>
            </div>
          </div>
          <div class="monitoring__info">
            <div class="monitoring__updatetime">
              обновлено <span>12:00</span>
            </div>
            <div class="monitoring__filters">
              <div class="monitoring__filter-queue active">
                По загруженности
              </div>
              <div class="monitoring__filter-alphabet">По алфавиту</div>
            </div>
          </div>
          <div class="monitoring__card-area">
            <div class="monitoring__big-city-area">
              <div class="monitoring__left-column">
                <div class="monitoring__card-bigcity">
                  <div class="monitoring__title">Краснодар</div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office danger">
                      Леваневского
                    </div>
                    <div class="office-bigcity__queue danger">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Уральская</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">
                      Шоссе Нефтяников
                    </div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">
                      Красная Площадь
                    </div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Крылатая</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Чекистов</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Зиповская</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">
                      Елизаветинская
                    </div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                </div>

                <div class="monitoring__card-bigcity">
                  <div class="monitoring__title">Сочи</div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Юных Ленинцев</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Кирова</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">
                      Горно-Стрелковая
                    </div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Армавирская</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Лазарева</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Мирный</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                </div>
              </div>
              <div class="monitoring__right-column">
                <div class="monitoring__card-bigcity">
                  <div class="monitoring__title">Новороссийск</div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Советов</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Дзержинского</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                </div>

                <div class="monitoring__card-bigcity">
                  <div class="monitoring__title">Северский</div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Афипский</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Ильский</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Ильский</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                </div>

                <div class="monitoring__card-bigcity">
                  <div class="monitoring__title">Новороссийск</div>
                  <div class="monitoring__office office-bigcity">
                    <div class="office-bigcity__name-office">Советов</div>
                    <div class="office-bigcity__queue">45</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="monitoring__small-city-area">
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
              <div class="monitoring__card-smallcity">
                <div class="monitoring__office office-smallcity">
                  <div class="office-smallcity__name-office">Геленджик</div>
                  <div class="office-smallcity__queue">45</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
